<html>
  <body>
    <h1>Congratulations <%= @user.email %>!</h1>
    <p>Your trading account has been approved. You can now start trading!</p>
    <p>Visit <%= link_to 'your dashboard', root_url %> to get started.</p>
  </body>
</html>