<header class="h-14 flex max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" data-id="4">
  <a data-id="5" class="flex items-center justify-center" href="<%= root_path %>" rel="ugc">
    <svg class="h-8 w-8 text-blue-600" data-lucide="trending-up"></svg>
    <span class="ml-2 text-lg font-bold" data-id="2">StockMaster</span>
  </a>
</header>